<div class="row">
    <div class="col-sm-4">
        <h1>Add</h1>
        <form ng-submit="addNewItem()">
            <div class="form-group">
                <label for="exampleInputEmail1">Item name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="apple" ng-model="newItem.name" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Item description</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="from Taiwan" ng-model="newItem.desc">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Item price ($)</label>
                <input type="number" class="form-control" id="exampleInputPassword1" placeholder="4.03" ng-model="newItem.price" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Item category</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="fruit" ng-model="newItem.cate">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Item Image (URL)</label>
                <input type="url" class="form-control" id="exampleInputPassword1" placeholder="fruit" ng-model="newItem.img">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <div class="col-sm-8">
        <h1>list</h1>

        <table class="table table-hover">
            <input type="text" placeholder="Search" class="form-control" ng-model="searchFilter">
            <thead>
                <tr>
                    <th ng-click="sortBy('id')">id</th>
                    <th ng-click="sortBy('name')">Name</th>
                    <th ng-click="sortBy('desc')">Description</th>
                    <th ng-click="sortBy('price')">Price</th>
                    <th ng-click="sortBy('cate')">Categories</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items | orderBy:order | filter:searchFilter track by $index" ui-sref="detail({id:items.indexOf(item)})">
                    <td>{{items.indexOf(item)}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.desc}}</td>
                    <td>{{item.price || 0 | currency: $}}</td>
                    <td>{{item.cate}}</td>
                </tr>
            </tbody>
        </table>

    </div>


</div>
